
@use 'css-reset';

$ff: 'Space Mono';
$fw-400: 400;
$fw-700: 700;
$font-size: 1rem;
$accent-green: hsl(120, 68%, 75%);


/*
TODO:
    rename all classes
*/

body {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    font-family: $ff;
    text-align: center;
    // padding-inline: 0.5rem;
    padding-inline: 2rem;
    letter-spacing: 0.3px;
}

a {
    text-decoration-color: $accent-green;
    color: white;
    text-transform: uppercase;
    font-weight: $fw-700;  
    text-underline-offset: 1rem;
    font-size: 1.3rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.title-name {
    font-size: 1.3rem;
    font-weight: $fw-700;
}

.nav-icons {
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.profile {
    margin-bottom: 6rem;
}

.underline {
    border-bottom: 0.2rem solid $accent-green;
}

img {
    align-self: center;
    margin-block: 0.8rem;
}

.profile-img {
    align-self: center;
    display: inline-block;
    margin-block: 2rem;
    width: 10rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

.profile-p {
    margin-block: 2rem;
    text-align: center;
    padding-bottom: 2rem;
}

ul {
    list-style-type: none;
}

.skills {
    border-top: 0.1rem solid hsl(0, 0%, 100%);
    border-bottom: 0.1rem solid hsl(0, 0%, 100%);
    padding-block: 1.5rem;
}

.skills-list {
    font-size: $font-size;
    font-weight: $fw-700;
}

.skill-title {
    font-size: 1.9rem;
    padding-top: 1.5rem;
}

.projects-container {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
}

.projects-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
}

.projects {
    margin-block: 2rem;
}

.project-link {
    font-size: $font-size;
    margin-right: 6.5rem;
}

.code-link {
    font-size: $font-size;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 2%, 16%);
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    padding-block: 2rem;
}

input {
    background-color: hsl(0, 2%, 16%);
    border: none;
    padding-block: 1rem;
}

::placeholder {
    color: white;
    border-bottom: 0.1rem solid $accent-green;
}

footer {
    background-color: hsl(0, 2%, 16%);
    padding-block: 4rem;
}

.ionicon {
    fill: white;
    width: 25px;
    height: 25px;
}

.fe-mentor-icon {
    width: 25px;
    height: 25px;
    margin: 0;
}

