/*  1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
  box-sizing: border-box;
}

/*  2. Remove default margin  */
* {
  margin: 0;
}

/*  3. Allow percentage-based heights in the application */
html, body {
  height: 100%;
}

/*
  Typographic tweaks!  4. Add accessible line-height  5. Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*  6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*  7. Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/*  8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*  9. Create a root stacking context */
#root, #__next {
  isolation: isolate;
}

/*
TODO:
    rename all classes
*/
body {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  font-family: "Space Mono";
  text-align: center;
  padding-inline: 2rem;
  letter-spacing: 0.3px;
}

a {
  text-decoration-color: hsl(120, 68%, 75%);
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  text-underline-offset: 1rem;
  font-size: 1.3rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.title-name {
  font-size: 1.3rem;
  font-weight: 700;
}

.nav-icons {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.profile {
  margin-bottom: 6rem;
}

.underline {
  border-bottom: 0.2rem solid hsl(120, 68%, 75%);
}

img {
  align-self: center;
  margin-block: 0.8rem;
}

.profile-img {
  align-self: center;
  display: inline-block;
  margin-block: 2rem;
  width: 10rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
  text-align: left;
  font-weight: 700;
  padding-block: 0.5rem;
}

.profile-p {
  margin-block: 2rem;
  text-align: center;
  padding-bottom: 2rem;
}

ul {
  list-style-type: none;
}

.skills {
  border-top: 0.1rem solid hsl(0, 0%, 100%);
  border-bottom: 0.1rem solid hsl(0, 0%, 100%);
  padding-block: 1.5rem;
}

.skills-list {
  font-size: 1rem;
  font-weight: 700;
}

.skill-title {
  font-size: 1.9rem;
  padding-top: 1.5rem;
}

.projects-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2rem;
}

.projects {
  margin-block: 2rem;
  padding-left: 0;
  text-align: left;
}

.project-link {
  font-size: 1rem;
  padding-right: 4rem;
}

.project-img {
  align-self: left;
  padding-top: 2rem;
}

.code-link {
  font-size: 1rem;
}

.projects-elements {
  display: flex;
  gap: 2rem;
  padding-bottom: 1.5rem;
  margin-top: 0;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 2%, 16%);
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  padding-block: 2rem;
}

input {
  background-color: hsl(0, 2%, 16%);
  border: none;
  border-bottom: 0.1rem solid white;
  padding-block: 1rem;
}

::-moz-placeholder {
  color: white;
}

::placeholder {
  color: white;
}

button {
  margin-top: 3rem;
}

footer {
  background-color: hsl(0, 2%, 16%);
  padding-block: 4rem;
}

.footer-h4 {
  text-align: center;
}

.ionicon {
  fill: white;
  width: 25px;
  height: 25px;
}

.fe-mentor-icon {
  width: 25px;
  height: 25px;
  margin: 0;
}/*# sourceMappingURL=App.css.map */